// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules
// =============================================================================

// Colors
$primary:       rgb(141, 0, 94);
$secondary:     rgb(255, 174, 0);
$body-bg:       rgb(255, 255, 255);
$body-color:    rgb(92, 92, 92);

// Fonts
$font-family-base: 'Roboto', sans-serif;

// Link Colors
$link-color:                $primary;
$link-hover-color:          darken($link-color, 15%);

// Borders
$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

// define your own variables here
// =============================================================================
